<%= react_component(
  "TimeLineApp",
  props: {
    shareToken: @timeline.share_token,
    events: @timeline.events.order(:date).map{|e| e.to_hash_with_documents},
    shareLink: time_url(@timeline.share_token),
    editLink: edit_timeline_url(@timeline.edit_token),
    sharing: @sharing,
    editing: @editing
  }, 
  prerender: false) 
%>
<div id="dummy"></div>