<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email on https://www.teachersdontpayjeff.com/ is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
<% end %>

<p>If you have any questions or comments, feel free to write me back at jeff@mrmaxim.org</p>

<p>Thanks!</p>
<p>Jeff</p>
