<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts on https://www.teachersdontpayjeff.com/.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

<p>If you have any questions or comments, feel free to write me back at jeff@mrmaxim.org</p>

<p>Thanks!</p>
<p>Jeff</p>
